@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

body{
    background-color: #e6ffe6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.box-1 {
    background-color: lightcoral;
    padding: 10px;
}

h1 {
    color: rgb(3, 52, 94);
}

.box-1 h3 {
    background-color: aquamarine;
    color: darkmagenta;
    padding: 1%;
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}

p {
    font-family: "Playwrite IT Moderna", Arial, Helvetica, sans-serif;
    color: hsl(302, 94%, 14%);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4em;
}

#second-p {
    font-family: Arial, Helvetica, sans-serif;
    color: #034716;
    font-size: 16px;
    font-weight: bolder;
    line-height: 1.2em;
}

#box-model {
    background-color: beige;
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    /* margin: 20px; */

    /* margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px; */

    /* margin: 5px 10px 5px 10px; */

    margin: 5px 10px;
}

.categories{
    border: 1px solid #034716;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: none;
}

.categories a {
    text-decoration: none;
    color: black;
}

.categories a:hover {
    color: red;
}

.categories li {
    padding: 6px 0;
    border-bottom: 1px dotted #333;
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form  label {
    display: block;
}

.my-form #name, .my-form #age, .my-form #message {
    padding: 8px;
    width: 100%;
}

.button {
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: rgb(236, 26, 26);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.2em;
}

.button:hover {
    background-color: rgb(149, 4, 4);
    cursor: pointer;
}

.block{
    float: left;
    width: 33.3%;
}

.clearfix {
    clear: both;
}

#main__block {
    float: left;
    width: 70%;
    padding: 15px;
    border: 1px solid darkblue;
    box-sizing: border-box;
}

#side__bar {
    float: right;
    width: 30%;
    padding: 15px;
    border: 1px solid darkred;
    box-sizing: border-box;
}

.position-box {
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    background-image: url('./images/unsplash-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.position-box h1 {
    position: absolute;
    top: 140px;
    left: 200px;
}

.position-box h3 {
    position: absolute;
    bottom: 40px;
    right: 200px;
}

.fixed-button {
    position: fixed;
    top: 20px;
}

.my-list li:first-child {
    background: rebeccapurple;
}

.my-list li:last-child {
    background: royalblue;
}

.my-list li:nth-child(5) {
    background: yellowgreen;
}

.dynamic-list li:nth-child(even) {
    background: yellowgreen;
}

.dynamic-list li:nth-child(odd) {
    background: #b9f04c;
}